html {
  scroll-behavior: smooth;
}

.hidden-spacer {
  height: 56px
}

.nav-item{
  padding-left: 30px;
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 17px;
  border-left: solid 5px;
  border-color:rgba(252,37,103,1) ;
  padding:3px;
  
}

.navbar-dark .navbar-nav .nav-link:hover{
  background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
  border-radius: 15px;
  border-right: solid 5px;
  border-left: solid 5px;
  padding: 5px 10px 5px 10px;
  transition: 0.6s;
  font-family: 'Kanit', sans-serif;

}

.content{
  position: absolute;
  margin-top: 10em;
  margin-left: 7em;
}

.cursor, .typed-text, .lakmal, .lio{
  background: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kanit', sans-serif;
}
 .typed-text{
  background: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Source Code Pro', monospace;
}

.card-group .card{
  background-color: #191919;
  color: #fff;
  margin-top: 10em;
}
.cardimage{
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
}







.social-icons .fa {
	font-size: 1.8em;
}
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn{background-color:#504e54;}
.social-icons .fa-apple{background-color:#aeb5c5;}
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;}
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;}
.social-icons .fa-css3{background-color:#1572B7;}
.social-icons .fa-dribbble{background-color:#F46899;}
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;}
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}




.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
























 .set-size {
	 font-size: 10em;
}
 .charts-container:after {
	 clear: both;
	 content: '';
	 display: table;
}
 .pie-wrapper {
	 height: 1em;
	 width: 1em;
	 float: left;
	 margin: 15px;
	 position: relative;
}

 .pie-wrapper .pie {
	 height: 100%;
	 width: 100%;
	 clip: rect(0, 1em, 1em, 0.5em);
	 left: 0;
	 position: absolute;
	 top: 0;
}
 .pie-wrapper .pie .half-circle {
	 height: 100%;
	 width: 100%;
	 border: 0.1em solid #3498db;
	 border-radius: 50%;
	 clip: rect(0, 0.5em, 1em, 0);
	 left: 0;
	 position: absolute;
	 top: 0;
}
 .pie-wrapper .label {
	 background: #34495e;
	 border-radius: 50%;
	 bottom: 0.4em;
	 color: #ecf0f1;
	 cursor: default;
	 display: block;
	 font-size: 0.25em;
	 left: 0.4em;
	 line-height: 2.8em;
	 position: absolute;
	 right: 0.4em;
	 text-align: center;
	 top: 0.4em;
}
 .pie-wrapper .label .smaller {
	 color: #bdc3c7;
	 font-size: 0.45em;
	 padding-bottom: 20px;
	 vertical-align: super;
}
 .pie-wrapper .shadow {
	 height: 100%;
	 width: 100%;
	 border: 0.1em solid #fff;
	 border-radius: 50%;
}
 .pie-wrapper.style-2 .label {
	 background: none;
	 color: #7f8c8d;
}
 .pie-wrapper.style-2 .label .smaller {
	 color: #bdc3c7;
}



.pie-wrapper.progress-45 .pie {
	clip: rect(auto, auto, auto, auto);
}
 .pie-wrapper.progress-45 .pie .half-circle {
	background: linear-gradient(#191919, #191919) padding-box,
	radial-gradient( #ff6600,#ff6600 ); 
	border-radius: 50em;
	border: 15px solid transparent;

}
 .pie-wrapper.progress-45 .pie .left-side {
	transform: rotate(330deg);
}
 .pie-wrapper.progress-45 .pie .right-side {
	transform: rotate(180deg);
}





 .pie-wrapper.progress-75 .pie {
	 clip: rect(auto, auto, auto, auto);
}
 .pie-wrapper.progress-75 .pie .half-circle {
	 border-color: #2965f1;
}
 .pie-wrapper.progress-75 .pie .left-side {
	 transform: rotate(300deg);
}
 .pie-wrapper.progress-75 .pie .right-side {
	 transform: rotate(180deg);
}







 .pie-wrapper.progress-95 .pie {
	 clip: rect(auto, auto, auto, auto);
}
 .pie-wrapper.progress-95 .pie .half-circle {
	 border-color: #F0DB4F;
}
 .pie-wrapper.progress-95 .pie .left-side {
	 transform: rotate(240deg);
}
 .pie-wrapper.progress-95 .pie .right-side {
	 transform: rotate(180deg);
}




.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
	border-color: #58B3F0;
}
.pie-wrapper.progress-60 .pie .left-side {
	transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .right-side {
	transform: rotate(180deg);
}





.pie-wrapper.progress-70 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-70 .pie .half-circle {

	border-color: #484C89 ;
}
.pie-wrapper.progress-70 .pie .left-side {
	transform: rotate(270deg);
}
.pie-wrapper.progress-70 .pie .right-side {
	transform: rotate(180deg);
}





.pie-wrapper.progress-sql .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-sql .pie .half-circle {

	border-color: #e7a61a ;
}
.pie-wrapper.progress-sql .pie .left-side {
	transform: rotate(240deg);
}
.pie-wrapper.progress-sql .pie .right-side {
	transform: rotate(180deg);
}




.pie-wrapper.progress-git .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-git .pie .half-circle {

	border-color: #F1502F ;
}
.pie-wrapper.progress-git .pie .left-side {
	transform: rotate(180deg);
}
.pie-wrapper.progress-git .pie .right-side {
	transform: rotate(180deg);
}




.pie-wrapper.progress-boot .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-boot .pie .half-circle {

	border-color: #563d7c ;
}
.pie-wrapper.progress-boot .pie .left-side {
	transform: rotate(300deg);
}
.pie-wrapper.progress-boot .pie .right-side {
	transform: rotate(180deg);
}




















main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 200px);
    margin: 0 0 25px 5px;
    float: right;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #000;
    padding: 15px 15px 15px 290px;
    border-radius: 20px;
	border: solid 1px ;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
	background: #222;
	opacity: 0.8;
    height: 100%;
    width: 120px;
    position: absolute;
    left: 140px;
    top: 0;
}
.main-timeline .timeline-year{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    transform: translateY(-50%);
    position: absolute;
    left: 22px;
    top: 50%;
}
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 120px;
    transform: translateY(-50%);
    position: absolute;
    left: 140px;
    top: 50%;
	
}
.main-timeline .title{
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.main-timeline .description{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    margin: 0 5px 25px 0;
    float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 280px 15px 20px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: 139px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: 19px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 139px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #7338BA; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ color: #7338BA; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #FF9800; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ color: #FF9800; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 200px 15px 15px 15px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        width: 100%;
        height: 100px;
        transform: translateX(-50%) translateY(0);
        left: 50%;
        right: auto;
        top: 80px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 20px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        width: auto;
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 105px;
    }
}



