// COLORS

$primary-color: #222222;
$secondary-color: #00ffff;

$white-color: #fff;

$dark-grey: #222222;

$dark-blue-text: #222222; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

